body {
  font-size: 16px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
.imprenta {
  font-family: 'BenchNine', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a {
  color: #000;
}
a:hover {
  color: #000;
}
#producto .cloud-zoom-container #wrap {
  float: right !important;
}
#producto .panel-col-first {
  width: 60%;
}
#producto .panel-col-last {
  width: 39%;
}
#producto .panel-separator {
  display: none;
}
#producto .pane-node-title h1 {
  margin: 0;
}
#producto .pane-node-product-commerce-price {
  font-family: 'Georgia', serif;
  font-weight: bold;
}
#producto .pane-node-product-commerce-price table {
  border: none;
}
#producto .pane-node-product-commerce-price .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.16);
  box-shadow: 0 2px 5px rgba(0,0,0,0.16);
}
.navbar-default:hover {
  background-color: #fff;
}
.navbar-default .navbar-brand {
  font-family: 'BenchNine', sans-serif;
  color: #000;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-family: 'BenchNine', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-default.active > a {
  background-color: #fff;
}
.navbar-default:hover {
  background-color: #f5f5f5;
}
.nav > li > a {
  font-weight: 'BenchNine', sans-serif;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
