body {
  font-size: 16px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
.imprenta {
  font-family: 'BenchNine', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1 {
  font-weight: bold;
}
a {
  color: #000;
}
a:hover {
  color: #000;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.16);
  box-shadow: 0 2px 5px rgba(0,0,0,0.16);
}
.navbar-default:hover {
  background-color: #fff !important;
}
.navbar-default .navbar-brand {
  font-family: 'BenchNine', sans-serif;
  color: #000;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-family: 'BenchNine', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 15px;
}
.navbar-default .navbar-nav > li > a.active > a {
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #f5f5f5;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}
.region-navigation {
  float: right;
}
.region-navigation .caja_busqueda {
  float: left;
  margin-right: 50px;
}
.region-navigation .caja_busqueda .views-exposed-form .views-exposed-widget {
  padding: 15px 0px 0;
}
.region-navigation .caja_busqueda .form-control {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.region-navigation .caja_busqueda .views-exposed-form .views-exposed-widget .btn {
  margin-top: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #000;
  background-color: #000;
}
.region-navigation .carrito {
  float: right;
  padding: 20px;
  cursor: pointer;
  position: relative;
}
.region-navigation .carrito:hover {
  background-color: #f5f5f5;
}
.region-navigation .carrito .icomoon {
  font-size: 25px;
}
.region-navigation .carrito .view-display-id-block {
  float: right;
}
.region-navigation .carrito .view-empty p {
  margin: 0;
}
.region-navigation .carrito .view-empty .line-item-summary {
  display: none;
}
.region-navigation .carrito .view-footer .line-item-quantity .line-item-quantity-raw {
  background: #468847;
  width: 20px;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-size: 12px;
}
.region-navigation .carrito .view-footer .line-item-quantity .line-item-quantity-label {
  display: none;
}
.region-navigation .carrito .view-footer .line-item-total .line-item-total-label {
  display: none;
}
.footer-contorno {
  background-color: #f4f4f4;
}
.footer-contorno .footer {
  border-top: none;
  padding-bottom: 10px;
}
.footer-contorno .footer .block-menu h2 {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
}
.footer-contorno .footer .footer-reserva {
  border-top: 1px solid #ddd;
  padding-top: 5px;
  font-size: 12px;
  margin-top: 15px;
}
.footer-contorno .footer .nav > li > a {
  padding: 0;
}
.node-type-shoes .page-header {
  display: none;
}
#producto .cloud-zoom-container #wrap {
  float: right !important;
}
#producto .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  width: 58px;
  padding: 0px 1px;
}
#producto .cloud-zoom-container .cloud-zoom-gallery-thumbs a img {
  margin: 10px 0;
}
#producto .panel-col-first {
  width: 60%;
}
#producto .panel-col-last {
  width: 39%;
}
#producto .panel-separator {
  display: none;
}
#producto .pane-node-product-commerce-price {
  font-family: 'Georgia', serif;
  font-weight: bold;
}
#producto .pane-node-product-commerce-price .table {
  margin: 0;
}
#producto .pane-node-product-commerce-price .table > tbody > tr > td {
  border: none;
}
#producto .pane-node-product-commerce-price .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
#producto .pane-colores-relacionados h4 {
  font-size: 16px;
}
#producto .pane-colores-relacionados .view-content .views-field {
  display: inline-block;
  border-top: 4px solid #fff;
  padding: 2px;
}
#producto .pane-colores-relacionados .view-content .views-field:hover {
  border-top: 4px solid #000;
}
#producto .pane-colores-relacionados .view-content .views-field-field-imagenes {
  border-top: 4px solid #000;
}
#producto .pane-node-field-product .attribute-widgets label {
  font-family: 'BenchNine', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}
#producto .pane-node-field-product .attribute-widgets .form-type-commerce-fancy-attributes-ajax .form-item {
  width: 70px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  border: 1px solid #ddd;
}
#producto .pane-node-field-product .attribute-widgets .form-type-commerce-fancy-attributes-ajax .form-item:hover {
  border: 1px solid #000;
}
#producto .pane-node-field-product .attribute-widgets .form-type-commerce-fancy-attributes-ajax .form-item .control-label {
  padding: 10px;
}
#producto .pane-node-field-product .attribute-widgets .form-type-commerce-fancy-attributes-ajax .form-item .help-block {
  background: #000;
  margin: 0px;
  padding: 2px;
}
#producto .pane-node-field-product .attribute-widgets .form-item-attributes-field-color {
  display: none;
}
#producto .pane-node-field-product .form-submit {
  width: 390px;
  font-family: 'BenchNine', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#producto .nombre-producto h3 {
  margin: 0px;
  font-size: 15px;
}
#producto .nombre-producto h1 {
  margin: 0px 0px 5px;
}
#producto .seccion-producto {
  border-bottom: 1px solid #f4f4f4;
}
#mini-panel-comentario_modal_panel .modal-content {
  overflow: hidden;
}
#mini-panel-comentario_modal_panel .modal-content .imagen_comentario {
  height: 100%;
  position: fixed;
  padding: 50px 10px;
  background: #333;
  width: 120px;
}
#mini-panel-comentario_modal_panel .modal-content .imagen_comentario h4 {
  font-size: 12px;
  text-align: center;
  color: #fff;
}
#mini-panel-comentario_modal_panel .modal-content .modal-header {
  margin-left: 120px;
}
#mini-panel-comentario_modal_panel .modal-content .modal-body {
  margin-left: 120px;
}
#mini-panel-comentario_modal_panel .form-type-fivestar .form-type-select {
  display: inline-block;
}
