body {
  font-size: 16px;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
.imprenta {
  font-family: 'BenchNine', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1 {
  font-weight: bold;
}
a {
  color: #000;
}
a:hover {
  color: #000;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.16);
  box-shadow: 0 2px 5px rgba(0,0,0,0.16);
}
.navbar-default:hover {
  background-color: #fff;
}
.navbar-default .navbar-brand {
  font-family: 'BenchNine', sans-serif;
  color: #000;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-family: 'BenchNine', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-default.active > a {
  background-color: #fff;
}
.navbar-default:hover {
  background-color: #f5f5f5;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}
.region-navigation {
  float: right;
}
.region-navigation .caja_busqueda {
  float: left;
}
.region-navigation .carrito {
  float: right;
}
.footer-contorno {
  background-color: #f4f4f4;
}
.footer-contorno .footer {
  border-top: none;
  padding-bottom: 10px;
}
.footer-contorno .footer .block-menu h2 {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
}
.footer-contorno .footer .footer-reserva {
  border-top: 1px solid #ddd;
  padding-top: 5px;
  font-size: 12px;
  margin-top: 15px;
}
.footer-contorno .footer .nav > li > a {
  padding: 0;
}
.node-type-shoes .page-header {
  display: none;
}
#producto .cloud-zoom-container #wrap {
  float: right !important;
}
#producto .panel-col-first {
  width: 60%;
}
#producto .panel-col-last {
  width: 39%;
}
#producto .panel-separator {
  display: none;
}
#producto .pane-node-title h1 {
  margin: 0;
}
#producto .pane-node-product-commerce-price {
  font-family: 'Georgia', serif;
  font-weight: bold;
}
#producto .pane-node-product-commerce-price .table {
  margin: 0;
}
#producto .pane-node-product-commerce-price .table > tbody > tr > td {
  border: none;
}
#producto .pane-node-product-commerce-price .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
#mini-panel-comentario_modal_panel .modal-content {
  overflow: hidden;
}
#mini-panel-comentario_modal_panel .modal-content .imagen_comentario {
  height: 100%;
  position: fixed;
  padding: 50px 10px;
  background: #333;
  width: 120px;
}
#mini-panel-comentario_modal_panel .modal-content .imagen_comentario h4 {
  font-size: 12px;
  text-align: center;
  color: #fff;
}
#mini-panel-comentario_modal_panel .modal-content .modal-header {
  margin-left: 120px;
}
#mini-panel-comentario_modal_panel .modal-content .modal-body {
  margin-left: 120px;
}
#mini-panel-comentario_modal_panel .form-type-fivestar .form-type-select {
  display: inline-block;
}
