.footer-contorno
	background-color #f4f4f4	
	.footer
		border-top none
		padding-bottom 10px		
		.block-menu
			h2
				letter-spacing 2px
				font-size 18px
				font-weight bold
		.footer-reserva
			border-top 1px solid #ddd
			padding-top 5px
			font-size 12px
		.nav > li > a
			padding 0
		
		