
.navbar-default
	border-color: #fff
	.navbar-brand
		font-family: 'BenchNine', sans-serif;
		color #000
		font-size 30px
		letter-spacing 2px
		font-weight bold

.navbar-default 
	.navbar-nav > 
		.active > a
			color #000
			font-family 'BenchNine', sans-serif;
			letter-spacing 1px
			text-transform uppercase
