#producto
	.cloud-zoom-container
		#wrap
			float right!important
	.panel-col-first
		width 60%
	.panel-col-last
		width 39%	
	.panel-separator
		display none
	.pane-node-title h1
		margin 0
	.pane-node-product-commerce-price
		font-family 'Georgia', serif
		font-weight bold
		.table 
			margin 0
			> tbody > tr > td
				border none
		.table-striped > tbody > tr:nth-of-type(odd)
			background-color #fff
		
			
		
		