.node-type-shoes
	.page-header
		display none
#producto
	.cloud-zoom-container
		#wrap
			float right!important
		.cloud-zoom-gallery-thumbs
			width 58px
			padding 0px 1px
			a
				img
					margin 10px 0
	.panel-col-first
		width 60%
	.panel-col-last
		width 39%	
	.panel-separator
		display none
	.pane-node-product-commerce-price
		font-family 'Georgia', serif
		font-weight bold
		.table 
			margin 0
			> tbody > tr > td
				border none
		.table-striped > tbody > tr:nth-of-type(odd)
			background-color #fff
	.nombre-producto
		h3
			margin 0px
			font-size 15px
		h1
			margin 0px 0px 5px			
	.seccion_producto
		border-bottom 1px solid #f4f4f4;
#mini-panel-comentario_modal_panel
	.modal-content
		overflow hidden
		.imagen_comentario
			height 100%
			position fixed
			padding 50px 10px
			background #333
			width 120px
			h4
				font-size 12px
				text-align center
				color #fff
		.modal-header
			margin-left 120px			
		.modal-body
			margin-left 120px
	.form-type-fivestar
		.form-type-select
			display inline-block
							
				
		